$boxColor: orange;
$bgColor : silver;
$btnColor : blanchedalmond ;




@mixin someStyle($color,$btn) {
    div {
        background-color: $color;
        color: blue;

        button {
            background-color: $btnColor;

            &:hover {
                background-color: orangered;
            }
        }
    }
}

@include someStyle($bgColor,$btnColor);



@function func_Name($color) {

    @return $color;
}


$funcVal : func_name(red);