
@import "./header.scss";


.box {
    background-color: $boxColor;
    width: 200px;
    height: 200px;

 
    
    
}





.mybutton {
    background-color: func_Name(red);
    width: 100px;
    height: 30px;
}



